@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(254,216,216);
  height: 100vh;
  text-align: center;
}
.content{
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
}
#red{
  background-color: rgb(205, 9, 9);
  color: white;
}
table,th,td{
  padding: 20px;

}
tr:nth-child(odd) {
  background-color: rgb(211, 211, 211);
}
tr:nth-child(even){
  background-color: white;
}
#LUNCH{
  background-color: white;
}
#title{
  padding: 20px;
}
#img1{
  width: 200px;
  top: 20px;
  padding-right: 1000px;
}
#img2{
  width: 50px;
  position: absolute;
  top: 25px;
  padding-left: 250px;

}
#student{
  font-family: 'Open Sans','sans-serif';
  position: absolute;
  top: 30px;
  padding-left: 1080px;
  color: rgb(205, 9, 9);
  font-size: x-large;

}
#courses{font-family: 'Open Sans','sans-serif';
  position: absolute;
  top: 28px;
  padding-left: 1180px;
  color: rgb(205, 9, 9);
  font-size: x-large;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
}